/* app-footer.component.css */

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* set a fixed height for the footer */
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 18px;
}
