<ng-container *ngIf="openChat === false">
  <div class="greeting">
    <h2>Start chatting with other people!</h2>
  </div>

  <div class="form-container">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" autocomplete="off">
      <h2>Choose a Name!</h2>
      <div class="form-row">
        <input formControlName="name" type="text" class="nameChooser" placeholder="Your Name" [class.is-invalid]="submitted && userForm.get('name')?.errors" />
        <label for="name">Name</label>
        <span class="error-message" *ngIf="submitted && userForm.get('name')?.hasError('required')">
          Please Choose a Name between 3 and 20 characters in length!
        </span>
        <span class="error-message" *ngIf="submitted && userForm.get('name')?.hasError('maxlength') || userForm.get('name')?.hasError('minlength')">
          Your Name must be between 3 and 20 characters in length!
        </span>
      </div>

      <div class="" *ngIf="apiErrorMessages.length > 0">
        <ul>
          <li *ngFor="let error of apiErrorMessages"> {{ error }}</li>
        </ul>
      </div>

      <div class="form-row">
        <button class="submit-button" type="submit">Submit</button>
      </div>

    </form>
  </div>
</ng-container>

<ng-container *ngIf="openChat === true">
  <app-chat></app-chat>
</ng-container>

