<!-- Example HTML for the landing page -->
<ng-container *ngIf="openChat === false">
  <div class="greeting">
    <h2>Welcome to Fun It App!</h2>
    <p>Connect and chat with other cool people!</p>
  </div>

  <div class="form-container">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" autocomplete="off">
      <h2>Choose a Name!</h2>
      <div class="form-row">
        <input formControlName="name" type="text" class="nameChooser" placeholder="Your Name" [class.is-invalid]="submitted && userForm.get('name')?.errors" />
        <label for="name">Name</label>
        <span class="error-message" *ngIf="submitted && userForm.get('name')?.hasError('required')">
          Please choose a name between 3 and 20 characters in length!
        </span>
        <span class="error-message" *ngIf="submitted && userForm.get('name')?.hasError('maxlength') || userForm.get('name')?.hasError('minlength')">
          Your name must be between 3 and 20 characters in length!
        </span>
      </div>

      <div class="api-error-messages" *ngIf="apiErrorMessages.length > 0">
        <ul>
          <li *ngFor="let error of apiErrorMessages"> {{ error }}</li>
        </ul>
      </div>

      <div class="form-row">
        <button class="submit-button" type="submit">Start Chatting</button>
      </div>
    </form>
  </div>
</ng-container>

<ng-container *ngIf="openChat === true">
  <app-chat (closeChatEmitter)="closeChat()"></app-chat>
</ng-container>

