<div class="container">
  <h1>Angular + ASP.Net Core 6.0 CRUD</h1>

  <div class="resource-container">

    <div class="resource-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="">Resource Name</label>
          <input type="text" name="resourceName" [(ngModel)]="userResource.name" />
        </div>
        <div class="form-group">
          <label for="">Quantity</label>
          <input type="number" name="resourceQuantity" [(ngModel)]="userResource.quantity" />
        </div>
        <div class="form-group form-group-inline">
          <label for="">Start</label>
          <input type="text" name="start" [(ngModel)]="userResource.start" />
          <label for="">End</label>
          <input type="text" name="end" [(ngModel)]="userResource.end" />
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>
      </form>
    </div>

    <div class="resource-grid">

      <div class="resource-row" *ngFor="let resource of userresources">
        <div (click)="populateForm(resource)" class="resource-row-details">
          <span>{{ resource.name }}</span>
          <span>{{ resource.quantity }}</span>
          <span>{{ resource.start }}</span>
          <span>{{ resource.end }}</span>
        </div>
        <div class="resource-row-action">
          <div class="deleteButton" (click)="deleteUserResource(resource.id)">
            Delete
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

