.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.resource-form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group-inline {
  display: flex;
  align-items: center;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.form-button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.resource-grid {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
}

.resource-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resource-row-details {
  flex-grow: 1;
  padding: 8px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 4px;
  cursor: pointer;
}

.resource-row-action {
  margin-left: 10px;
}

.deleteButton {
  background-color: var(--danger-color);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Additional Styles for Table-like Structure */

.resource-row-details span {
  display: inline-block;
  padding: 2px 6px;
}

  .resource-row-details span:not(:last-child) {
    margin-right: 10px;
  }
