.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #007bff; /* Update title color */
}

.resource-container {
  display: flex;
}

.resource-form {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa; /* Update form background color */
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #e9ecef; /* Update input background color */
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff; /* Update button background color */
  color: #fff; /* Update button text color */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add transition effect */
}

.form-group .form-button:hover {
  background-color: #0056b3; /* Update button background color on hover */
}

.resource-grid {
  flex: 1;
  padding: 20px;
}

.resource-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resource-row-details {
  flex: 1;
  padding: 10px;
  background-color: #f8f9fa; /* Update row details background color */
  border-radius: 5px;
  cursor: pointer;
}

  .resource-row-details span {
    margin-right: 10px;
  }

.deleteButton {
  padding: 5px 10px;
  background-color: #dc3545; /* Update delete button background color */
  color: #fff; /* Update delete button text color */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add transition effect */
}

  .deleteButton:hover {
    background-color: #c82333; /* Update delete button background color on hover */
  }
