.container {
  background-color: (--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

  .brand {
    font-size: 30px;
    margin: 0;
  }

  .cool-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
