<div class="chat-container">
    <div class="left-sidebar">
        <div class="user-container">
            <div class="user-card" *ngFor="let user of chatService.onlineUsers">
                <div class="avatar">
                    <img src="{{ defaultAvatar }}" alt="{{ defaultAvatar }}" />
                </div>
                <button type="button"
                    (dblclick)="openPrivateChat(user)"
                >{{ user }}</button>
                
            </div>
        </div>
    </div>
    <div class="messages-container">
            <app-messages [messages]="chatService.messages"></app-messages>
        <div class="form-container">
            <app-message-input (contentEmitter)="sendMessage($event)"></app-message-input>
        </div>
    </div>
</div>
