/* Global Styles */

/* Color Variables */
:root {
  --primary-color: #313A43;
  --secondary-color: #74818C;
  --text-color: #ffffff;
  --accent-color: #A9EEE6;
  --accent-color-hover: #19F9DF;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
}

/* Fonts */
body {
  font-family: Arial, sans-serif;
}
