/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #a9eee6;
  --secondary-color: #fefaec;
  --accent-color: #f38181;
  --text-color: #625772;
}
