.chat-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  margin-bottom: 30px;
  text-align: center;
}

  .greeting h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }

.messages-container {
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.form-container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .chat-container {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  .greeting {
    grid-column: span 2;
    margin-bottom: 0;
    text-align: left;
  }

  .messages-container {
    height: auto;
    overflow-y: visible;
    margin-bottom: 0;
  }
}
