
<div class="chat-content" *ngIf="isChatVisible()">
  <div class="flex-container">
    <div class="users-card">
      <h2>Active Users</h2>
      <div class="users">
        <div class="card-body">
          <div class="col">
            <button type="button" class="user-button">{{ chatService.myName }}</button>
          </div>
        </div>
        <div class="card-body">
          <div class="col">
            <button type="button" class="user-button">User2</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-messages></app-messages>

</div>
