<div class="container">
  <h1>Angular + ASP.Net Core 6.0 CRUD</h1>

  <div class="resource-container">
    <div class="resource-form">
      <form>
        <div class="form-group">
          <label for="">Resource Name</label>
          <input type="text" name="resourceName" />
        </div>
        <div class="form-group">
          <label for="">Quantity</label>
          <input type="number" name="resourceNumber" />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input type="text" name="resourceDescription" />
        </div>
        <div class="form-group">
          <label for="">Start Time</label>
          <input type="datetime" name="startTime"/>
          <label for="">End Time</label>
          <input type="datetime" name="endTime"/>
        </div>
      </form>
    </div>
    <div class="resource-grid">
      <div class="resource-row">
        <div class="resource-row-details">
          <span>Mr Example Name here!</span>
          <span>273</span>
          <span>12/04/2023  20h10m</span>
          <span>12/04/2023  21h13m</span>
        </div>
        <div class="resource-row-action">
          <div class="deleteButton">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>

