.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--text-color);
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-title {
    color: var(--text-color);
}

.navbar-links {
    display: flex;
}

.navbar-link {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 10px;
}

.navbar-link:hover {
    color: var(--secondary-color);
}
