.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--primary-color);
}

.bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.brand {
  display: flex;
  align-items: center;
}

.topbar-title {
  font-size: 24px;
  color: var(--secondary-color);
  margin-left: 10px;
}

.action-container {
  display: flex;
  align-items: center;
}

a {
  background-color: var(--accent-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  font-size: 18px;
  color: var(--secondary-color);
  cursor: pointer;
}

  a:hover {
    background-color: var(--accent-color-hover);
  }
