/* Footer */

footer {
    position:fixed;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
}

  footer h6 {
    margin: 0;
    text-align: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }
