/* Example CSS styles for the footer component */
footer {
  background-color: #333; /* Update background color */
  color: #fff; /* Update text color */
  padding: 10px 0;
  position: fixed; /* Add position: fixed to make the footer stay at the bottom */
  bottom: 0; /* Add bottom: 0 to position the footer at the bottom of the page */
  width: 100%; /* Add width: 100% to make the footer span the entire width of the page */
}

.container {
  display: flex;
  justify-content: center;
}

h6 {
  font-size: 12px;
}

.footer-link {
  color: #007bff; /* Update link color */
  text-decoration: none;
  margin-left: 5px;
}

  .footer-link:hover {
    color: #0056b3; /* Update link hover color */
    text-decoration: underline;
  }
